* {
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    list-style-type: none;
}

.bodycontainer {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

li img{
    width: 100px;
    height: 100px;
    border: 3px solid blue;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

#topimage {
    width: 350px;
    height: auto;
}

.header {
    display: flex;
    color: white;
    background-color: rgb(64, 64, 94);;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.section1 {
    background-color: rgb(64, 64, 94);
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.section2 {
    background-color: white;
    text-align: center;
}

.section3 {
    background-color: #eeeeee;
    padding: 40px 200px;
}

.section4 {
    background-color: white;
}

.footer {
    background-color: rgb(64, 64, 94);
}

.containers4 {
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
    padding: 10px;
}

h3 {
    font-weight: 900;
    font-size: 20px;
}

.header ul {
    font-size: 14px;
}

.containers1 {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 10px 0;
}

button {
    width: 100px;
    padding: 5px 20px;
    font-size: 14px;
    color: white;
    background-color: rgb(65, 131, 255);
    border: 0;
    border-radius: 5px;
    font-weight: 800;
}

.descs1 {
    margin-top: -15px;
    font-size: 16px;
    line-height: 100%;
}

h2 {
    font-size: 28px;
    font-weight: 800;
}

.icons {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

.quote {
    font-style: italic;
    font-size: 28px;
}

#thor {
    text-align: right;
}

.containers4 {
    background-color: rgb(52, 101, 236);
    border-radius: 5px;
    padding: 20px 40px;;
    display: flex;
    flex-direction: column;
    justify-content: center;
}